<div class="statics">
        <div id="time">
                        <table border="0">
                <tr>
                <td></td>
                <td></td>
                </tr>
                <tr>
                <td><input type="text" name="date" id="d1" /></td>
                <td><a>----------</a></td>
                <td><input type="text" name="date" id="d2" /></td>
                <td><div  class="button"><a id="diarygraph" hef="#">确定</a></div></td>
                </tr>
                </table>
        
        
        </div>
        <div id="line">
            <div id="variable1">
            <ul>
                <li>
                <span>头痛持续时间</span>
                <input type="checkbox" id="htime" value ="time" />
                </li>
                <li>
                <span>头痛程度评分</span>
                 <input type="checkbox" name="hdegree" value ="orange"/>
                 </li>
             </ul>
            </div>
            <div id="linegraph"></div>
            <div style="float:left;padding-left:240px"><p>平均值: 6.5</p></div>
        </div>
        <div id="pie">
        <div id="variable2">
               <ul>
                <li>
                <span>头痛性质</span>
                <input type="radio" name="htype" value ="apple" />
                </li>
                <li>
                <span>头痛部位</span>
                 <input type="radio" name="fruit" value ="orange"/>
                 </li>
                 <li>
                <span>伴随症状</span>
                 <input type="radio" name="fruit" value ="orange"/>
                 </li>
                 <li>
                <span>头痛先兆</span>
                 <input type="radio" name="fruit" value ="orange"/>
                 </li>
                 <li>
                <span>缓解因素</span>
                 <input type="radio" name="fruit" value ="orange"/>
                 </li>
                 <li>
                <span>诱发因素</span>
                 <input type="radio" name="fruit" value ="orange"/>
                 </li>
             </ul>

        </div>
        <div id="piegraph"></div>
        </div>
</div>
